{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block title %}<title>Chart</title>{% endblock %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    {% block extracss %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>

    {% block extrajs %}{% endblock %}

</head>
<body>

    <input id="planned" type="text" placeholder="Planned">
    <input id="actual" type="text" placeholder="Actual">
    <button id="chartit" type="submit" class="btn btn-primary">Chart it</button>

    <div id="container" style="width:100%; height:400px;"></div>

    {% block script %}
    <script type="text/javascript">
        var chart = Highcharts.chart('container', {
            title: {
                text: 'Chart example'
            },
            subtitle: {
                text: 'Source: dummy'
            },
            tooltip: { shared: true},
            xAxis: {
                title: {
                    text: 'Value 1'
                }
            },
            yAxis: {
                title: {
                    text: 'Value 2'
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },
            plotOptions: {
                series: {
                    label: {
                        connectorAllowed: false
                    },
                    pointStart: 2010
                }
            },
            series: [{
                name: 'Planned',
                data: []
            }, {
                name: 'Actual',
                data: []
            }],
            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
            }
        });

        $('#chartit').click(function () {
            chart.series[0].setData(document.getElementById("planned").value.split(",").map( Number ));
            chart.series[1].setData(document.getElementById("actual").value.split(",").map( Number ));
        });
    </script>
    {% endblock %}

</body>
</html>